<!DOCTYPE HTML>
<html>
	<head>
		<title>Heroku Backup Orchestrator</title>
		<link rel="stylesheet" type="text/css" href="/hba.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/hba.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>Heroku Backup Orchestrator</h1>
			</div>
			<div id="main">
				<%= yield %>
			</div>
		</div>
	</body>
</html>